langchain==0.3.26
langchain_community==0.3.26
langgraph==0.5.0
langchain_core==0.3.68
pydantic==2.12.5
langchain_huggingface==0.3.0
opencv-python==4.12.0.88
sounddevice
llama-cpp-python
faiss-cpu
sentence-transformers
pytesseract
Pillow
unstructured
python-docx
python-pptx
pdfminer.six
pdf2image
huggingface-hub
unstructured[docx]
unstructured[pptx]
vosk
sounddevice